# Notebook de Execução

In [14]:
%run bases.ipynb

Requirement already satisfied: faker in /home/pedrovaladares/anaconda3/lib/python3.12/site-packages (37.3.0)
Requirement already satisfied: tzdata in /home/pedrovaladares/anaconda3/lib/python3.12/site-packages (from faker) (2023.3)
Note: you may need to restart the kernel to use updated packages.

In [15]:
df_base_usuarios

,user_id,nome,idade,cidade,estado,tipo_residencia,qtd_animais,comportamento_dono,latitude,longitude
0,0,Milena,56,Araújo,TO,Apartamento,2,ativo,-31.165652,-52.203090
1,1,Gustavo Henrique,40,Rios do Norte,ES,Apartamento,1,ativo,-24.338239,-53.988850
2,2,Maitê,19,da Mota,BA,Sítio,2,neutro,-23.614473,-59.992212
3,3,Nicole,39,da Luz do Amparo,RN,Casa,1,ativo,-32.769376,-54.752253
4,4,Vitória,33,Araújo dos Dourados,ES,Casa,1,ausente,-32.093936,-53.816140
...,...,...,...,...,...,...,...,...,...,...
495,495,Maria Helena,24,Costela de Fernandes,ES,Apartamento,2,neutro,-28.990582,-52.368916
496,496,Ana Beatriz,46,Cassiano do Sul,SC,Casa,1,neutro,-30.043053,-54.061975
497,497,Henry Gabriel,44,Barbosa,PA,Casa,1,neutro,-23.592155,-54.930796
498,498,Diogo,57,Nogueira do Galho,SP,Casa,1,neutro,-25.732508,-52.260938
499,499,Daniela,51,Mendonça,TO,Casa,2,ativo,-27.609054,-57.175276

In [16]:
df_pets

,pet_id,user_id,nome_pet,especie,raca,idade_pet,castrado,sociavel,porte,perfil_pet
0,0,0,Rebeca,Cachorro,Chihuahua,10,False,Média,Grande,protetor
1,1,0,Ana Laura,Cachorro,Bulldog,7,True,Alta,Grande,brincalhão
2,2,1,José,Cachorro,Poodle,5,True,Baixa,Médio,afetivo
3,3,2,Maria Fernanda,Cachorro,Chihuahua,0,True,Alta,Pequeno,independente
4,4,2,Olívia,Gato,Vira-lata,3,True,Alta,Grande,brincalhão
...,...,...,...,...,...,...,...,...,...,...
734,734,496,Gael,Cachorro,Bulldog,4,True,Média,Grande,afetivo
735,735,497,Sarah,Gato,Siamês,0,True,Alta,Médio,medroso
736,736,498,Kamilly,Cachorro,Bulldog,0,True,Média,Pequeno,independente
737,737,499,Emanuel,Gato,Vira-lata,9,True,Alta,Médio,protetor
738,738,499,Maya,Gato,Vira-lata,7,False,Média,Pequeno,brincalhão

In [17]:
df_comportamentos_app

,user_id,data_acesso,curtidas,rejeicoes,tempo_ativo_min,visitas_na_semana
0,1,2025-05-06,11,3,25,3
1,1,2025-05-04,16,3,26,1
2,1,2025-04-29,11,5,26,3
3,2,2025-05-07,12,3,27,5
4,3,2025-05-06,7,4,5,2
...,...,...,...,...,...,...
1183,499,2025-05-09,10,2,16,9
1184,499,2025-05-11,12,6,21,8
1185,500,2025-05-14,7,6,19,6
1186,500,2025-05-16,10,5,15,3
1187,500,2025-05-08,9,8,26,1

In [18]:
df_compras_petshop

      user_id data_compra tipo_produto   valor
0           1  2025-05-14    acessório  160.34
1           1  2025-05-08    brinquedo   48.08
2           1  2025-03-15    acessório  175.91
3           1  2025-05-05    acessório   23.71
4           2  2025-03-02      remédio  188.94
...       ...         ...          ...     ...
1534      500  2025-05-09      petisco  116.33
1535      500  2025-05-07    brinquedo   26.29
1536      500  2025-04-15    brinquedo   25.40
1537      500  2025-05-20    brinquedo  110.83
1538      500  2025-03-22    acessório   50.43

[1539 rows x 4 columns]